[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE
[submodule "external/CommonLibVR"]
	path = external/CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "external/CommonlibSSE"]
	path = external/CommonlibSSE
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
